{
    "plugins": ["prettier"],
    "extends": ["plugin:prettier/recommended", "@react-native-community"],
    "rules": {
        "quotes": [2, "double", { "avoidEscape": true }],
        "indent": ["error", { "allowIndentationTabs": true }]
    }
}